.navbar {
  grid-area: navigator;
}
.header {
  grid-area: header;
}
.section {
  grid-area: section;
  position: relative;
}
.content {
  grid-area: content;
}
.text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3.8vw;
  left: 1rem;
  font-size: clamp(10vw, 1vw, 1vw);
  color: var(--secondaryColor);
}
.parf {
  width: 80%;
  margin: 0 auto;
  font-size: clamp(1rem, 4.5vw, 2rem);
  font-weight: var(--fontWeightUltraLight);
}
