.header {
  height: 130px;
  position: relative;
  background-color: var(--primary-color);
}
.header__title {
  margin: 0 0 0 2rem;
  font-size: 7rem;
}

.header__image {
  width: 35%;
  position: absolute;
  top: 4rem;
  left: calc(100vw - 25rem);
  transform: rotateZ(18deg);
  z-index: 1;
}
.section {
  border: #000 solid 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section__item {
  border: #000 solid 1px;
  height: 250px;
}
.section__text {
  grid-column: 1 / span 4;
  font-size: 1.3rem;
}
