.navbar {
  max-height: 3rem;
  background-color: var(--primatyColor);
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  margin: 0 0 0 1rem;
  font-family: var(--fontFamilyVariant);
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  font-size: 1.5rem;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.navbar__menu__item a {
  color: #fff;
  text-decoration: none;
  border-right: #fff 1px solid;
  padding-right: 1rem;
}
