.navbar {
  background-color: var(--primatyColor);
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.navbar__logo {
  margin: 0 0 0 0.7rem;
  font-family: var(--fontFamilyVariant);
  /* font-size: clamp(1rem, 2.5vw, 2rem); */
  font-size: 1.5rem;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.navbar__menu__item a {
  color: #fff;
  text-decoration: none;
  border-right: #fff 1px solid;
  padding-right: 1rem;
}
.navbar__buttom_mobile {
  display: none;
}
@media screen and (max-width: 678px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar__logo {
    margin: 0 0 0 0.5rem;
  }
  .navbar__buttom_mobile {
    display: block;
    margin: 0.3rem 0.5rem;
  }
  .navbar__menu {
    display: none;
  }
}
